<script src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'></script>
<script src='@Url.Content("~/js/loadFoto.js")'></script>
<form method="post" enctype="multipart/form-data">
<h4>Добавить:</h4>

    <div class="container">
      <div class="row">

        <div class="col-sm">
            <h5>ФОТО:</h5>
           
            <p>
                 <label for="uploadedFhoto">Обложка:</label>
                 <input type="file" name="uploadedFhoto" id="photo" />
                
            </p> 
                <div style="padding:10px;">
                    
                        <img src="photo" alt="Нет фото" width="250" />
                   
                </div>


        </div>


        <div class="col-sm">      
            <h5>КНИГА:</h5>
                <p>
                <label>Название:</label><br />
                <input type="text" name="title"/>
            </p>
            <p>
                <label>Аннотация:</label><br />
                <textarea name="annotation"></textarea>
            </p>
         </div>

             <div class="col-sm">      
                <h5>ЖАНР:</h5>
                <p>
                    @foreach (var genre in ViewBag.Genre)
                    {
                        <input type="checkbox" name="selectGenre" value="@genre.GenreId"/>@genre.Name<br/>
                    }
                </p>
                <p>
                     @Html.ActionLink("Добавить жанр", "CreateGenre")
                </p>
                
               


             </div>



        <div class="col-sm">
           
            <h5>АВТОР:</h5>
           
                <p>
                    @foreach(var author in ViewBag.Author)
                    {
                        <input type="checkbox" name="selectAuthor" value="@author.AuthorId"/>
                        @author.Surname<b> </b>
                        @author.Firstname<b> </b>
                        @author.Secondname
                        <br/>
                    }

                </p>
                <p>
                     @Html.ActionLink("Добавить автора", "CreateAuthor")
                </p>


         </div>

            <div class="col-sm">
                  
                    <h5>НА СКЛАД:</h5>
                 
                     <p>
                        <label>Количество:</label><br />
                        <input type="number" step="1" min="0" placeholder="1" name="CountBook"/>
                     </p>
                           <p>
                            <label>Цена:</label><br />
                            <input type="text" name="Price"/>
                           </p>
            </div>
      </div>
    </div>

        <p>
            <input type="submit" value="Добавить в список"/>
        </p>
</form>

