<script src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'></script>
<form method="post" enctype="multipart/form-data">
<h4>Добавить:</h4>

    <div class="container">
      <div class="row">

        <div class="col-sm">
            <h5>ФОТО:</h5>
           
            <p>
                 <label for="uploadedFhoto">Обложка:</label>
                 <input type="file" name="uploadedFhoto" id="photo" />
                
            </p> 
                <div style="padding:10px;">
                    
                        <img src="photo" alt="Нет фото" width="250" />
                   
                </div>


        </div>


        <div class="col-sm">      
            <h5>КНИГА:</h5>
                <p>
                <label>Название:</label><br />
                <input type="text" name="title"/>
            </p>
            <p>
                <label>Аннотация:</label><br />
                <textarea name="annotation"></textarea>
            </p>
         </div>

             <div class="col-sm">      
                <h5>ЖАНР:</h5>
                <p>
                    @foreach (var genre in ViewBag.Genre)
                    {
                        <input type="checkbox" name="selectGenre" value="@genre.GenreId"/>@genre.Name<br/>
                    }
                </p>
                <p>
                     @Html.ActionLink("Добавить жанр", "CreateGenre")
                </p>
                
               


             </div>



        <div class="col-sm">
           
            <h5>АВТОР:</h5>
           
                <p>
                    @foreach(var author in ViewBag.Author)
                    {
                        <input type="checkbox" name="selectAuthor" value="@author.AuthorId"/>
                        @author.Surname<b> </b>
                        @author.Firstname<b> </b>
                        @author.Secondname
                        <br/>
                    }

                </p>
                <p>
                     @Html.ActionLink("Добавить автора", "CreateAuthor")
                </p>


         </div>

            <div class="col-sm">
                  
                    <h5>НА СКЛАД:</h5>
                 
                     <p>
                        <label>Количество:</label><br />
                        <input type="number" step="1" min="0" placeholder="1" name="CountBook"/>
                     </p>
                           <p>
                            <label>Цена:</label><br />
                            <input type="text" name="Price"/>
                           </p>
            </div>
      </div>
    </div>

        <p>
            <input type="submit" value="Добавить в список"/>
        </p>
</form>

<script>
    var Image_Upload_Preview = function( file_input, image_element ){
    this.is_supported = function(){

        if( ! FileReader instanceof Function ){
            console.error(':( Your browser noes not support the FileReader...');
            return false;
        }
    };

    this.validate_inputs = function(){

        /**
         * Fail if:
         * 1. Not a HTML Input Element
         * 2. Not a File Input Element
         *
         */
        if( ! $(file_input).get(0) instanceof HTMLInputElement || $(file_input).first().attr('type') != 'file' ){
            console.error( 'Invalid Element provided...' );
            return false;
        }

        /**
         * Fail if:
         * 1. Image Element provided is invalid
         */
        if( ! $(image_element).get(0) instanceof HTMLImageElement ){
            console.error( 'Invalid Image Element provided...' );
            return false;
        }

    };


    /**
     * Only proceed if all the preliminary checks have passed
     */
    if( this.is_supported() || this.validate_inputs() ){
        return false;
    }


    /**
     * Set the file input to only accept images
     */
    $(file_input).attr('accept','image/*');


    $(file_input).change(function(){

        /**
         * Fail if:
         * 1. 'files' data is non existent
         * 2. 'files' data has no data in it
         */
        if( !this.files || this.files.length < 1 ){
            console.error('No files data exists for this file input...');
            return false;
        }


        var file_reader = new FileReader();

        file_reader.onload = function( reader_result ) {

            var image_result = null;

            /**
             * Legacy lookup for the result
             */
            image_result = reader_result.target && reader_result.target.result ? reader_result.target.result : image_result ;
            image_result = !image_result && reader_result.srcElement && reader_result.srcElement.result ? reader_result.srcElement.result : image_result ;

            $( image_element ).attr( 'src', image_result );
        };

        file_reader.readAsDataURL( this.files[0] );
    });

};


$(document).ready(function(){

    /**
     * Example Usages
     */
    // new Image_Upload_Preview( document.getElementById('file_input_demo'), $('img') );
    new Image_Upload_Preview( $('input[type=file]'), $('img') );
});
</script>