@model BookStoreWeb.DataContext.Book


<script src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'></script>
<script src='@Url.Content("~/js/loadFoto.js")'></script>
@{
    ViewData["Title"] = "Редактирование книги";
}

<h4>Редактирование книги:</h4>
<hr />
 <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
       
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Img" class="control-label">Фото обложки:</label>
                        <input type="hidden" asp-for="Img" class="form-control" />
                        <span asp-validation-for="Img" class="text-danger"></span>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-5">
                            <td>
                                <img src="@Url.Action("GetFile","Book",new{id=Model.BookId})" alt="Нет фото" width="150">
                            </td>
                        </div>
                
                        <div class="col-md-5">
                   
                                <td>
                                     <label for="editFhoto">Изменить обложку:</label>
                                     <input type="file" name="editFhoto" id="photo" accept="image/jpeg" />
                                </td>
                   
                        </div>

            
                    </div>



                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Название книги:</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

           
                    <div class="form-group">
                        <label asp-for="CountBook" class="control-label">Количество книг:</label>
                        <input asp-for="CountBook" class="form-control" />
                        <span asp-validation-for="CountBook" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Цена книги:</label>
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    
                    <br/>
                    <div class="form-group">
                        <input type="submit" value="Изменить книгу" class="btn btn-primary" />
                    </div>

            </div>

                 <div class="col-md-4">
                            <label asp-for="Annotation" class="control-label">Аннотация:</label>
                            <textarea asp-for="Annotation" class="form-control" rows="8"></textarea>
                            <span asp-validation-for="Annotation" class="text-danger"></span>
                            <br/>
                           
                         
                              <select class="form-select" multiple name="delGenres" aria-label="Default select example">
                              <option selected>Удалить жанр:</option>

                                    @foreach (var genre in Model.Genres)
                                    {
                                        <option value="@genre.GenreId">@genre.Name</option>
                                    }
                                </select>
                          <br/>

                              <select class="form-select" multiple name="selGenres" aria-label="Default select example">
                              <option selected>Добавить жанр:</option>

                                    @foreach (var genre in ViewBag.Genre)
                                    {
                                        <option value="@genre.GenreId">@genre.Name</option>
                                    }
                            </select>
                           

                </div>

                <div class="col-md-4"> 
                    <br/>
                    <select class="form-select" multiple name="delAuthors" aria-label="Default select example">
                              <option selected>Удалить автора:</option>

                                    @foreach (var author in Model.Authors)
                                    {
                                        <option value="@author.AuthorId">@author.Surname 
                                             <b> </b>
                                             @author.Firstname
                                              <b> </b>
                                             @author.Secondname
                                        </option>
                                    }
                                </select>
                          <br/>

                              <select class="form-select" multiple name="selAuthors" aria-label="Default select example">
                              <option selected>Добавить автора:</option>

                                   @foreach (var author in ViewBag.Author)
                                    {
                                        <option value="@author.AuthorId">@author.Surname 
                                             <b> </b>
                                             @author.Firstname
                                              <b> </b>
                                             @author.Secondname
                                        </option>
                                    }
                            </select>





                </div>
        </div>
</form>
<hr />
<div>
    <a asp-action="Index">К списку книг</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



   
    
