@model IEnumerable<BookStoreWeb.DataContext.Book>

<h4>Каталог книг</h4>

<p>
  @Html.ActionLink("Добавить книгу", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <h6>Обложка</h6>              
            </th>
            <th>
                <h6>Название</h6>
            </th>
           @* <th>
                <h6>Анотация</h6>
            </th>*@
            <th>
                <h6>Автор</h6>
            </th>
            <th>
                <h6>Жанр</h6>
            </th>
            <th>
                <h6>Кол-во</h6>
            </th>
            <th>
                <h6>Цена</h6>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var path = $"~/{item.Img}";
            <tr>
            <td>
              
                <img src="@Url.Action("GetFile","Book",new{id=item.BookId})" alt="Нет фото" width="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Annotation)
            </td>*@
            <td>      
                
                   @{
                       foreach (var author in item.Authors)
                       {
                           @Html.DisplayFor(modelItem=>author.Surname)
                           <b> </b>
                            @Html.DisplayFor(modelItem => author.Firstname)
                            <b> </b>
                            @Html.DisplayFor(modelItem => author.Secondname)
                            <br/>
                       }
                   }  
            </td>

             <td>      
                   @{
                       foreach (var genre in item.Genres)
                       {
                            @Html.DisplayFor(modelItem=>genre.Name)<br/>
                       }
                   }  
            </td>

            <td>             
                            @Html.DisplayFor(modelItem=>item.CountBook)
            </td>

            <td>      
                            @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Редактировать", "EditBook","Book",new{id=item.BookId}) |
                @Html.ActionLink("Просмотр", "DetailsBook", new { id=item.BookId}) |
                @Html.ActionLink("Удалить","DeleteBook","Book",new{id=item.BookId})

            </td>
                
           
        </tr>
}
    </tbody>
</table>

