@model BookStoreWeb.ViewModels.RegisterModel

<h4>Регистрация сотрудника</h4>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="RoleName">Введите роль:</label><br />
            <select name="RoleName" id="RoleName">
                <option selected="selected" value="admin">администратор</option>
                <option value="trader">продавец</option>
            </select>
        </div>

        <div>
            <label asp-for="UserName">Введите имя сотрудника:</label><br />
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName" />
        </div>
        <div>
            <label asp-for="Phone">Введите № телефона:</label><br />
            <input type="text" asp-for="Phone" />
            <span asp-validation-for="Phone" />
        </div>

        <div>
            <label asp-for="Email">Введите Email:</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль:</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль:</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div><br />
        <div>
            <input type="submit" value="Регистрация" />
        </div><br />
    </div>
</form>


<table class="table table-striped table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Роль</th>
      <th scope="col">Имя</th>
      <th scope="col">Тлф</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
 <tbody>
@{
    var emploee = ViewBag.emploee;
    int i=1;
   
    foreach (var asd in emploee)
    {
        @foreach(var zxc in asd.Users)
        {      
        <tr>        
        <th scope="row">@i</th>
            <td>@asd.RoleName</td>
            <td>@zxc.UserName</td>
            <td>@zxc.Phone</td>
            <td>@zxc.Email</td>
            <td>@zxc.Password</td>
        </tr> 
        i++;
        } 
    }
 }
  </tbody>
</table>